<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .top {
            background-color: rgb(161, 161, 244);
            height: 500px;
            width: 100%;
        }

        .edit:hover {
            background-color: burlywood;
        }
    </style>
</head>

<body>
    <nav class="flex items-center h-16 w-full text-center text-lg bg-slate-800 text-zinc-50">
        <div class="grid grid-cols-10 w-full p-5 mb-2">
            <a class="flex justify-start font-bold" href="/home">CP Portal</a>
            <a class="flex justify-start" href="/problems">Problems</a>
            <a class="flex justify-start" href="/contests">Contest</a>
            <a class="flex justify-start" href="/resources.html">Resources</a>
            <% if(locals.username){ %>
                <a class="col-start-10 flex justify-end" href="/profile"> <%= username %></a>
                <% }
                else{%>
                    <a class="col-start-10 flex justify-end" href="/"> SignUp/login</a><%
                } %>
    
        </div>
    </nav>
    <div class="top gird grid-cols-3 px-10">
        <div>
            <div class="flex w-full">
                <p class="flex font-extrabold px-10 py-10 text-xl">USER PROFILE</p>
            </div>
            <% if(locals.username){ %>
                <div class="text-4xl font-bold pl-10 pt-20 font-sans">Hello, <%= username %>
                </div>
                <% } %>
                    <div class="text-left px-9 py-10 text-xl">
                        This is your profile page. You can see the progress you've made with
                        your work and manage your problems or assigned tasks.
                    </div>
                  
                    <a  class="edit border rounded-2xl px-7 py-2 m-10" href="/editprofile">
                        Edit Profile
                    </a>
               
                    <div class="flex w-full pr-32 px-10 mb-200">
                        <div class="w-full">
                            <div class="rounded-xl bg-gray-200 h-auto w-8/12 m-4">
                                <div class="rounded-t-xl font-bold text-2xl text-center py-6 h-24 bg-gray-300">
                                    <% if(locals.username){ %>
                                        <%=username %>
                                            <% } %>
                                </div>
                                <div class="font-sans text-xl font-bold px-4 pt-2">
                                    USER INFORMATION:
                                </div>
                                <div class="p-4">
                                    <% if(locals.username){ %>
                                        <!--<div class="text-xl font-sans p-1">Name : Your name</div> -->
                                        <div class="text-xl font-sans p-1">Username :<%=username %>
                                        </div>
                                        <% } %>
                                            <%if(locals.email){ %>
                                                <div class="text-xl font-sans p-1">Email : <%= email %>
                                                </div>
                                                <% } %>
                                                    <!--<div class="text-xl font-sans p-1">Country : INDIA</div>
                                                    <div class="text-xl font-sans p-1">Institute : IIT INDORE</div>-->
                                </div>
                            </div>
                        </div>
                        <a href="/" target="_blank">
                            <img src="pictures/profile.avif"
                                class="h-64 border rounded-full flex justify-end col-start-3 w-80">
                        </a>
                    </div>
        </div>
        <div class="p-5 border rounded-3xl border-4">
            <p class="text-black text-center font-bold text-2xl ">Number of problems solved per day</p>
            <img src="pictures/download.png" alt="">
        </div>
        <div class="p-5 border rounded-3xl border-4 w-1/2 my-2 grid place-content-around">
            <p class="text-black text-center font-bold text-2xl ">Number of problems solved</p>
            <div class="flex items-end p-1 border rounded-xl m-1">
                <img src="pictures/codeforces_com.png" alt="">
                <p class="text-xl font-sans p-1">Codeforces :
                    <% if(locals.username){ %>
                 <%= %>
                <% }
                else{%>
                    0 <%
                } %>
    
            </div>
            <div class="flex items-end p-1 border rounded-xl m-1">
                <img src="pictures/codechef_com.png" alt="">
                <p class="text-xl font-sans p-1">Codechef : 100</p>
            </div>
            <div class="flex items-end p-1 border rounded-xl m-1">
                <img src="pictures/atcoder_jp.png" alt="">
                <p class="text-xl font-sans p-1">Atcoder : 100</p>
            </div>
            <div class="flex items-end p-1 border rounded-xl m-1">
                <img src="pictures/leetcode_com.png" alt="">
                <p class="text-xl font-sans p-1">LeetCode : 100</p>
            </div>
            <div class="flex items-end p-1 border rounded-xl m-1">
                <img src="pictures/hackerearth_com.png" alt="">
                <p class="text-xl font-sans p-1">Hacker Earth : 100</p>
            </div>
        </div>
        <div class="p-5 border rounded-3xl border-4 my-2 grid place-content-around">
            <p class="text-black text-center font-bold text-2xl">Activity</p>
            <div class="m-5">
                <div class="flex">
                    <p class="w-10 text-center">SUN</p>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                </div>
                <div class="flex">
                    <p class="w-10 text-center">MON</p>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                </div>
                <div class="flex">
                    <p class="w-10 text-center">TUE</p>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-300 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                </div>
                <div class="flex">
                    <p class="w-10 text-center">WED</p>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-200 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                </div>
                <div class="flex">
                    <p class="w-10 text-center">THU</p>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                </div>
                <div class="flex">
                    <p class="w-10 text-center">FRI</p>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                </div>
                <div class="flex">
                    <p class="w-10 text-center">SAT</p>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-500 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                    <div class="h-5 w-5 m-1 bg-lime-600 rounded-md"></div>
                </div>
                <div class="flex">
                    <div class="mx-14">JAN</div>
                    <div class="mx-12">FEB</div>
                    <div class="mx-12">MAR</div>
                    <div class="mx-12">APR</div>
                    <div class="mx-12">MAY</div>
                    <div class="mx-12">JUN</div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>